# Keil 编译产物
STM32/Output/*.o
STM32/Output/*.crf
STM32/Output/*.d
STM32/Output/*.axf
STM32/Output/*.hex
STM32/Output/*.htm
STM32/Output/*.map
STM32/Output/*.lnp
STM32/Output/*.dep
STM32/Output/*.build_log.htm
STM32/Listings/*.lst

# Keil 项目临时文件
Project/*.uvguix.*
Project/JLinkLog.txt
Project/JLinkSettings.ini
Project/.vscode/*.log
Project/.vscode/*.lock

# 应用输出
Application/*/output/
STM32/BSP/output/

# 通用编译产物
*.o
*.d
*.crf
*.lst

# IDE 配置
.vscode/
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
*.code-workspace